@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-escuro: #00296bff;
    --azul-marinho: #003f88ff;
    --azul-fraco: #00509dff;
    --amarelo: #fdc500ff;
    --ouro: #ffd500ff;
    --texto-titulo: "Lato", sans-serif;
    --texto-corpo: "Briem Hand", cursive;
}

body{
    background-color: var(--azul-escuro);
    color: var(--ouro);
    font-family: var(--texto-corpo);
}

.titulo-principal{
    font-family: var(--texto-titulo);
}